body  {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

.end_div {
  padding: 50px;
}
.end_timer {
  font-size: 100px;
  margin-top: -25px;
}

.csw_div {
  padding: 50px;
  float: left;
  padding-bottom: 0px;
}
.sbreak_div {
  padding: 50px;
  float: right;
  padding-bottom: 0px;
}

.csw_timer {
  color: white;
  font-size: 75px;
  margin-top: -20px;
}

#csw_subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

#csw_days, #csw_hours, #csw_minutes, #csw_seconds {
  color: pink;
}

#end_subtitle {
  margin-top: -75px;
  color: gray;
  font-size: 20px;
}

#sbreak_subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}
#sbreak_hours, #sbreak_seconds {
  color: lime;
}
#sbreak_days, #sbreak_minutes {
  color: yellow;
}
.sbreak_timer {
  color: green;
  font-size: 75px;
  margin-top: -20px;
}
