body  {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

a, #new-timers-span {
  color: #fc37ff;
}


.end-div {
  padding: 50px;
}

.end-timer {
  font-size: 125px;
  margin-top: -25px;
}

#end-subtitle {
  margin-top: -75px;
  color: gray;
  font-size: 25px;
}


.sday-div {
  padding-top: 0px;
  float: left;
  padding-left: 40px;
}

.sday-timer {
  color: white;
  font-size: 75px;
  margin-top: -20px;
}

#sday-subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}


.sbreak-div {
  padding-top: 0px;
  float: right;
  padding-right: 40px;
}

.sbreak-timer {
  color: green;
  font-size: 75px;
  margin-top: -20px;
}

#sbreak-subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

#sbreak-hours, #sbreak-seconds {
  color: lime;
}

#sbreak-days, #sbreak-minutes {
  color: yellow;
}


#links {
  z-index: -10;
  position: absolute;
  top: 1;
  right: 0;
  margin-top: 275px;
  float: left;
  text-align: left;
  width: 100%;
  background-color: #494949;
}
