body {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

/* header */

.header {
  font-size: 80px;
}

#sec1 {
  color: white;
}

#sec2 {
  color: yellow;
}

#sec3 {
  color: lime;
}

/* other stuff */

.main_div {
  font-size: 15px;
}

#syi {
  margin-left: -200px;
}

#current_date_div {
  padding-top: 50px;
  font-size: 10px;
  float: left;
  padding-left: 200px;
  padding-top: 100px;
}

#current_date {
  color: gray;
}

#subtitle {
  color: gray;
  font-size: 12px;
  font-weight: bolder;
  margin-top: -20px;
}
