body  {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

a, #new-timers-span {
  color: #fc37ff;
}


#top-header {
  color: gray;
}


.end-div {
  padding: 50px;
}

.end-timer {
  color: white;
  font-size: 125px;
  margin-top: -25px;
}

#end-subtitle {
  margin-top: -75px;
  color: gray;
  font-size: 25px;
}

.x-div {
  padding: 50px;
}

.x-timer {
  color: white;
  font-size: 100px;
  margin-top: -100px;
}

#x-subtitle {
  margin-top: -75px;
  color: gray;
  font-size: 20px;
}

#links {
  z-index: -10;
  position: absolute;
  top: 1;
  right: 0;
  margin-top: 250px;
  float: left;
  text-align: left;
  width: 100%;
  background-color: #494949;
}
