body  {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

a, #new-timers-span {
  color: #fc37ff;
}


#top-header {
  color: gray;
}


.cbreak-div {
  padding: 50px;
}

.cbreak-timer {
  color: green;
  font-size: 125px;
  margin-top: -25px;
}

#cbreak-subtitle {
  margin-top: -75px;
  color: gray;
  font-size: 25px;
}

#cbreak-span {
  color: yellow;
}

#cbreak-hours, #cbreak-seconds {
  color: green;
}

#cbreak-days, #cbreak-minutes {
  color: red;
}

.end-div {
  padding-top: 0px;
  text-align: center;
  padding-left: 40px;
  float: left;
}

.end-timer {
  font-size: 75px;
  margin-top: -20px;
}

#end-subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

.sbreak-div {
  padding-top: 200px;
  text-align: center;
  padding-right: 40px;
}

.sbreak-timer {
  color: white;
  font-size: 75px;
  margin-top: -20px;
}

#sbreak-subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

#sbreak-span {
  color: gray;
}

#sbreak-hours, #sbreak-seconds {
  color: white;
}

#sbreak-days, #sbreak-minutes {
  color: white;
}

.tbreak-div {
  padding-top: 0px;
  text-align: center;
  padding-right: 40px;
  float: right;
}

.tbreak-timer {
  color: white;
  font-size: 75px;
  margin-top: -20px;
}

#tbreak-subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

#tbreak-span {
  color: white;
}


#links {
  z-index: -10;
  position: absolute;
  top: 1;
  right: 0;
  margin-top: 250px;
  float: left;
  text-align: left;
  width: 100%;
  background-color: #494949;
}
