body  {
  background-color: black;
  color: white;
  font-family: arial;
  text-align: center;
}

.end_div {
  padding: 50px;
}
.end_timer {
  font-size: 100px;
  margin-top: -25px;
}

.cbreak_div {
  padding: 50px;
}

.cbreak_timer {
  color: red;
  font-size: 50px;
  margin-top: -20px;
}

#cbreak_subtitle {
  margin-top: -20px;
  color: gray;
  font-size: 15px;
}

#cbreak_hours, #cbreak_seconds {
  color: green;
}

#cbreak_days, #cbreak_minutes {
  color: #ffd500;
}

#end_subtitle {
  margin-top: -75px;
  color: gray;
}
